#bg {
    width: 1366px;
    height: 1600px;
    display: block;
    margin: auto;
    padding-top: 100px;
    background-color: #e8daa1;
}

.topnav {
    overflow: hidden;
    float: right;
    margin-top: -80px;
}

/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: gainsboro;
    color: black;
    text-decoration: underline;
}

.topnav a.active {
    color: black;
    text-decoration: underline;
}


#logo {
    width: 200px;
    height: 250px;
    margin-left: 50px;
    margin-top: -100px;
    background-color: #e3dab5;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    position: relative;
    z-index: 2;
}


/*<---------- Home Page ----------->*/

.slideImgs {
    display: none;
    float: left;
    margin-top: -150px;
    position: relative;
    z-index: 1;
}

.finest {
    font-family: 'Dancing Script', cursive;
    width: 500px;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 635px;
    text-align: center;
    font-size: 75px;
}

.about {
    font-family: 'Dancing Script', cursive;
    margin-top: 75px;
    margin-left: 100px;
    width: 555px;
    height: 650px;
    font-size: 40px;
    line-height: 44px;
}

.bodyText {
    font-size: 28px;
    font-family: serif;
    margin-top: 20px;
}

.aboutPhoto {
    width: 555px;
    height: 650px;
    float: right;
    margin-right: 100px;
    margin-top: -650px;
    background-image: url("grandma.jpg");
}

.homeLine {
    background-color: black;
    width: 90%;
    height: 3px;
    display: block;
    margin: auto;
    margin-top: -700px;
}

/*<---------- Menu Page ----------->*/

.menuBanner {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url("menuImg.jpg");
    background-position: center
}

.entrees {
    font-family: 'Dancing Script', cursive;
    width: 500px;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 75px;
}

.menuLine {
    background-color: black;
    width: 90%;
    height: 3px;
    display: block;
    margin: auto;
}

.leftColumn {
    margin-left: 100px;
    margin-top: 50px;
    width: 550px;
    height: 700px;
}

.foodImages {
    background-color: mediumvioletred;
    width: 200px;
    height: 150px;
    margin-bottom: 125px;
    border-radius: 50px;
}

.titleText {
    font-family: 'Dancing Script', cursive;
    width: 350px;
    height: 150px;
    float: right;
    margin-top: -275px;
    font-size: 30px;
    padding-left: 10px;
}

#topLeftImage {
    background-image: url("chickenAlfredo.jpg");
    background-size: cover;
}

#middleLeftImage {
    background-image: url("chickenParmigiana.jpg");
    background-size: cover;
}

#bottomLeftImage {
    background-image: url("chickenShrimpCarbonara.jpg");
    background-size: cover;
}

#descriptionText {
    font-size: 20px;
}

.rightColumn {
    float: right;
    margin-right: 100px;
    margin-top: -700px;
    width: 550px;
    height: 700px;
}

#topRightImage {
    background-image: url("ravioliPortobello.jpg");
    background-size: cover;
}

#middleRightImage {
    background-image: url("spaghetti.jpg");
    background-size: cover;
}

#bottomRightImage {
    background-image: url("lasagna.jpg");
    background-size: cover;
}

/*<---------- Contact Page ----------->*/

.contactTitle {
    font-family: 'Dancing Script', cursive;
}

.contactBanner {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url("insideShot.jpg");
}

.restaurantDescription {
    font-size: 30px;
    width: 420px;
    height: 250px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
}

#name {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
}

#address {
    margin-bottom: 10px;
}

#number {}

.hours {
    width: 425px;
    height: 250px;
    font-size: 30px;
    float: right;
    margin-top: -270px;
    margin-right: 250px;
}

#heading {
    font-size: 45px;
}

#columnHours {
    text-align: right;
    width: 250px;
    height: 100px;
    float: right;
    margin-top: -134px;
}

.line {
    background-color: black;
    width: 90%;
    height: 3px;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.map {
    background-color: aqua;
    width: 550px;
    height: 450px;
    margin-top: 50px;
    margin-left: 100px;
    background-image: url("map.jpg");
    background-size: contain;
}

.inputFields {
    word-wrap: break-word;
    width: 550px;
    height: 450px;
    float: right;
    margin-top: -465px;
    margin-right: 125px;
}

#inputName {
    width: 100%;
    height: 40px;
}

#inputEmail {
    width: 100%;
    height: 40px;
}

#inputMessage {
    padding-bottom: 250px;
    word-wrap: break-word;
    text-align: left;
    vertical-align: top;
    width: 100%;
    height: 300px;
}
